n8n-workflow-mandate-thankyou.json
{
    "name": "Mandato - Email Agradecimiento Propietario",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "mandate-thankyou",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                200,
                300
            ],
            "id": "wh-mandate-ty-001",
            "name": "Webhook",
            "webhookId": "mandate-thankyou-wh"
        },
        {
            "parameters": {
                "sendTo": "={{ $('Webhook').item.json.body.owner_email }}",
                "subject": "=Gracias por confiar en RE/MAX Exclusive — {{ $('Webhook').item.json.body.operation_type === 'Arriendo' ? 'Arriendo' : 'Venta' }} de su propiedad",
                "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link href=\"https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: 'Open Sans', sans-serif; background-color: #f5f5f5; }\n        .email-wrapper { background-color: #f5f5f5; padding: 30px 20px; }\n        .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.08); }\n        .header { background: linear-gradient(135deg, #003DA5 0%, #0056D6 100%); padding: 35px 30px; text-align: center; }\n        .header img { max-height: 60px; margin-bottom: 15px; }\n        .header h1 { color: #ffffff; font-size: 22px; font-weight: 700; margin: 0; line-height: 1.3; }\n        .content { padding: 35px 30px; }\n        .content p { color: #333333; font-size: 15px; line-height: 1.7; margin-bottom: 20px; }\n        .highlight-box { background: linear-gradient(135deg, #f0f4ff 0%, #e8f0fe 100%); border-left: 4px solid #003DA5; padding: 20px; margin: 25px 0; border-radius: 0 8px 8px 0; }\n        .highlight-box p { margin: 0; color: #003DA5; font-size: 14px; font-weight: 600; }\n        .agent-card { background-color: #f8f9fa; border-radius: 8px; padding: 20px; margin: 25px 0; text-align: center; }\n        .agent-card .name { font-size: 18px; font-weight: 700; color: #003DA5; margin-bottom: 5px; }\n        .agent-card .role { font-size: 13px; color: #666; }\n        .info-box { background-color: #fff3cd; border-left: 3px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 0 6px 6px 0; }\n        .info-box p { margin: 0; font-size: 13px; color: #856404; }\n        .footer { background-color: #fafafa; padding: 20px 30px; text-align: center; border-top: 1px solid #e8e8e8; }\n        .footer p { font-size: 12px; color: #999999; margin: 3px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"container\">\n            <div class=\"header\">\n                <img src=\"https://res.cloudinary.com/dhzmkxbek/image/upload/v1765974550/ChatGPT_Image_11_dic_2025_03_45_43_p.m._oajwry.png\" alt=\"RE/MAX Exclusive\">\n                <h1>¡Gracias por confiar en nosotros!</h1>\n            </div>\n            <div class=\"content\">\n                <p>Estimado/a <strong>{{ $('Webhook').item.json.body.owner_name }}</strong>,</p>\n                <p>En nombre de <strong>RE/MAX Exclusive</strong>, le agradecemos sinceramente por confiarnos la {{ $('Webhook').item.json.body.operation_type === 'Arriendo' ? 'gestión de arriendo' : 'venta' }} de su propiedad ubicada en:</p>\n                <div class=\"highlight-box\">\n                    <p>📍 {{ $('Webhook').item.json.body.property_address }}</p>\n                </div>\n                <p>Su agente asignado será responsable de gestionar todo el proceso:</p>\n                <div class=\"agent-card\">\n                    <div class=\"name\">{{ $('Webhook').item.json.body.agent_name }}</div>\n                    <div class=\"role\">Agente Inmobiliario RE/MAX Exclusive</div>\n                </div>\n                <div class=\"info-box\">\n                    <p>📊 <strong>Informes de Gestión Periódicos:</strong> Cada 15 días, su agente le enviará un informe detallado sobre las actividades realizadas, visitas a la publicación en portales, contactos recibidos y el estado del mercado para su propiedad. Este informe le permitirá estar al tanto de todo el proceso en tiempo real.</p>\n                </div>\n                <p>Estamos comprometidos con brindarle el mejor servicio y acompañamiento durante todo el proceso. No dude en contactarnos si tiene alguna consulta.</p>\n                <p style=\"margin-top: 30px;\">Cordialmente,<br><strong>RE/MAX Exclusive Chile</strong></p>\n            </div>\n            <div class=\"footer\">\n                <p><strong>RE/MAX Exclusive Chile</strong></p>\n                <p>Sistema automático de notificaciones</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
                "options": {
                    "appendAttribution": false,
                    "senderName": "RE/MAX Exclusive Chile",
                    "ccList": "={{ $('Webhook').item.json.body.agent_email }}, operaciones@remax-exclusive.cl"
                }
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                500,
                300
            ],
            "id": "gmail-mandate-ty-001",
            "name": "Enviar Email Agradecimiento",
            "credentials": {
                "gmailOAuth2": {
                    "id": "lxbAOjqaxS3bEojd",
                    "name": "correo info@"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "ok"
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                500,
                500
            ],
            "id": "respond-mandate-ty-001",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Enviar Email Agradecimiento",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "instanceId": "remax-exclusive"
    }
}